.ccc-showTool{
padding:40px 20px;
.ThumbSrc{
    width: 260px;
    margin-bottom: 20px;
    margin-top:-40px;
    background-image: repeating-linear-gradient(#eee 0 8px, transparent 0 16px),
    repeating-linear-gradient(90deg, #eee 0 8px, transparent 0 16px);
    background-blend-mode: screen;
}
}
.ccc-slider-item {
    width: 100%;
}